/***********************************
*
*    IMPROVAMONIUM 2015 STYLES     *
*
************************************/

/* TAG STYLES */

body { background-color: #72C7C4; }
textarea { resize: none; }
p { font-family: "Roboto-Light"; }
h1,h2,h3,h4,h5,h6 { font-family: "MouseMemoirs"; }


/** FONT LOADERS **/

@font-face {
	font-family: "MouseMemoirs";
	src: url("../fonts/MouseMemoirs-Regular.ttf")
		 format("truetype");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto-Light.ttf")
		 format("truetype");
}


/* FORMATTING STYLES */

.fg-pink { color: #F12B5C; }
.fg-white { color: #fff; }

.bg-pink { background-color: #F12B5C; }
.bg-white { background-color: #fff; }

.center {
	text-align: center;
	margin: 0 auto 0 auto;
}

.rotated {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
}

.rnd-box { 
	border-radius: 20px; 
	padding: 15px;
}

.box-txt { line-height: 135%; }

.row-offset-xs { margin-top: 10px; }
.row-offset-sm { margin-top: 20px; }
.row-offset-md { margin-top: 50px; }
.row-offset-lg { margin-top: 100px; }

.lg-txt { font-size: 30px; }
.md-txt { font-size: 20px; }
.sm-txt { font-size: 15px; }


/* SPECIFIC CLASSES */

.title-lg { font-size: 80px; }
.big-btn {
	font-size: 40px;
	background-color: #F12B5C;
	border: none;
	color: #fff;
	padding: 30px 40px 30px 40px;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	-transition: background-color 0.2s ease-in-out;
}
.big-btn:hover { 
	background-color: #BB294B;
	color: #fff;
}

.md-btn {
	font-size: 25px;
	background-color: #F12B5C;
	border: none;
	color: #fff;
	padding: 15px 20px 15px 20px;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	-transition: background-color 0.2s ease-in-out;
}
.md-btn:hover { 
	background-color: #BB294B;
	color: #fff;
}

.ajax-loader {
    background-image: url("../images/ajax-loader.gif");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
}