body {
    margin: 0;
    padding: 0;
    background-color: #EBECEE;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainContainer {
    margin: auto;
    background-color: #FFF;
    width: 95%;
}

.header {
    background-color: #232323;
    padding: 1.5% 3.5% .5%;
    max-height: 20vh;
}

.picLogo {
    width: 25%;
    height: 25%;
    float: left;
    margin-top: -2.4%;
    margin-left: -1.8%;
}

.nav li{
    display: inline-block;
    float: left;
    list-style: outside none none;
    margin-right: 1em;
    margin-top: .45em;
    font-family: sans-serif;
    color: #EBECEE;
    font-size: 150%;
}

.nav li > a:hover {
    background-color: #232323;
}

.nav, .pagination, .carousel, .panel-title a {
     cursor: pointer;
}

.slidePic {
    max-height: 100vh;
}

li.home.current, li.home > a:hover {
    color: #4994CE;
}

li.bios.current, li.bios > a:hover{
    color: #DA2373;
}

li.workshops.current, li.workshops > a:hover{
    color: #6EBC42;
}

li.events.current, li.events > a:hover{
    color: #4994CE;
}

li.improv.current, li.improv > a:hover{
    color: #4994CE;
}

li.about.current, li.about > a:hover{
    color: #F37E1F;
}