body {
    margin: 0;
    padding: 0;
    background-color: #EBECEE;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainContainer {
    margin: auto;
    background-color: #FFF;
    width: 95%;
    min-width: 1200px;
}

.header {
    background-color: #232323;
    padding: 1.5% 3.5% 3.5%
}

.picLogo {
    width: 25%;
    height: 25%;
    float: left;
    margin-top: -2.4%;
    margin-right: 3.5%;
}

.nav li{
    display: inline-block;
    float: left;
    list-style: outside none none;
    margin-right: 1em;
    font-family: sans-serif;
    color: #EBECEE;
    font-size: 150%;
}

li.home.current {
    color: #4994CE;
    font-weight: bold;
}

li.home > a:hover {
    color: #4994CE;
}

li.bios.current {
    color: #DA2373;
    font-weight: bold;
}

li.bios > a:hover {
    color: #DA2373;
}

li.workshops.current {
    color: #6EBC42;
    font-weight:bold;
}

li.workshops > a:hover {
    color: #6EBC42;
}

li.events.current {
    color: #4994CE;
    font-weight: bold;
}

li.events > a:hover {
    color: #4994CE;
}

li.improv.current {
    color: #4994CE;
    font-weight: bold;
}

li.improv > a:hover {
    color: #4994CE;
}

li.about.current {
    color: #F37E1F;
    font-weight: bold;
}

li.about > a:hover {
    color: #F37E1F;
}