body {
    margin: 0;
    padding: 0;
    background-color: #EBECEE;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainContainer {
    margin: auto;
    background-color: #FFF;
    width: 95%;
}

.header {
    background-color: #232323;
    padding: 1.5% 3.5% .5%;
    max-height: 20vh;
}

.picLogo {
    width: 25%;
    height: 25%;
    float: left;
    margin-top: -2.4%;
    margin-left: -1.8%;
}

.nav li{
    display: inline-block;
    float: left;
    list-style: outside none none;
    margin-right: 1em;
    margin-top: .45em;
    font-family: sans-serif;
    color: #EBECEE;
    font-size: 150%;
}

/*Navigation Styles*/
.nav li > a:hover, .nav li > a:focus {
    background-color: #232323;
}

li.home.current, li.home > a:hover {
    color: #4994CE;
}

li.bios.current, li.bios > a:hover{
    color: #DA2373;
}

li.workshops.current, li.workshops > a:hover{
    color: #6EBC42;
}

li.events.current, li.events > a:hover{
    color: #4994CE;
}

li.improv.current, li.improv > a:hover{
    color: #4994CE;
}

li.about.current, li.about > a:hover{
    color: #F37E1F;
}

.carousel-indicators{
    display: none;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
    color: #000000;
    width: 10%;
}

.carousel-control.left:hover, .carousel-control.right:hover{
    color: #000000;
    transition: 0.2s ease-in 0s;
}

.carousel{
    height: 86.5vh;
}

.carousel-inner{
    cursor: default;
}

/*Converting Slide Transition to Fad*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

/*About Page Styles*/
.aboutBox{
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.aboutHeader{
    color: #F37E1F;
    border-bottom: 2px solid #F37E1F;
}

.aboutSection > h2{
    padding-bottom: .5%;
}

.aboutSection > p{
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 16px;
}

.aboutForm{
    padding-left: 1.5%;
}

.aboutForm > .form-group > input.form-control{
    width: 15%;
}

.aboutForm > .form-group > textarea.form-control{
    width: 25%;
}

/*Bios Page Styles*/
.biosCarousel{
}

.bwSlide > h1, .impSlide > h1, .wipSlide > h1, .alSlide > h1{
    font-size: 80px;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0px 0px;
    font-weight: bold;
    color: white;
}

.bwSlide{
    background-color: #4994CE;
}

.impSlide{
    background-color: #6EBC42;
}

.wipSlide{
    background-color: #DA2373;
}

.alSlide{
    background-color: #F37E1F;
}

.troupeHead{
    margin-left: 10%;
    width: 25%;
    float: left;
}

.memberBio{
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
    float: left;
    text-align: left;
}

.memberFull{
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
    float: left;
    margin-top: 1%;
}

.memberBody{
    width: 80%;
    height: 80%;
}

.memberHead{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px;
    opacity: 0.5;
    float: left;
}

.memberHead:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.2s ease-in 0s;
}

.memberHead.active{
    opacity: 1;
}

.memberHead.active:hover{
    cursor: default;
}

/*Events Page Styles*/

/*Home Page Styles*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.slidePic {
    max-height: 100vh;
}

/*Improvamonium Page Styles*/

/*Workshops Page Styles*/
.workshopBox{
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.workshopHeader{
    color: #6EBC42;
    border-bottom: 2px solid #6EBC42;
}

.workshopSection > h2{
    padding-bottom: .5%;
}

.workshopSection > p{
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 16px;
}

.workshopSection > ul{
    font-size: 16px;
    list-style: none;
}