<view-title>Improvamonium - </view-title>
<link view-head rel="shortcut icon" ng-href="{{improvCtrl.icon}}" />

<div>
    <div class="header">
        <img class="picLogo" ng-if="improvCtrl.img != ''" ng-src="{{improvCtrl.img}}"/>
        <ul class="nav">
            <li ng-class="{current: improvCtrl.img != '' && nav.name == 'improvamonium', home: nav.name == 'home', bios: nav.name == 'bios', workshops: nav.name == 'workshops', events: nav.name == 'events', improv: nav.name == 'improvamonium', about: nav.name == 'about'}" ng-repeat="nav in appCtrl.nav">
                <a ng-href="{{nav.link}}">{{nav.name}}</a>
            </li>
        </ul>
    </div>


</div>