<!DOCTYPE html>
<html>
<head>
	<title>Improvamonium 2015</title>

	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/improvamonium2015.css" rel="stylesheet" type="text/css" />
	<link href="../css/site.css" rel="stylesheet" type="text/css" />
	<script src="../scripts/jquery.js"></script>
	<script src="../scripts/bootstrap.min.js"></script>
	<script src="./submitApplication.js"></script>
</head>

<body>

	<div class="improvamonium-title">
		<img src="../img/Improvamonium_Banner_1702x630.png" alt="Improvamonium 2015" style="width: 100%;" />
	</div>

	<div class="container-fluid">

		<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10 bg-white rnd-box" style="margin-top: -10%;">
			<br/>
			<div class="row">
				<h1 class="center">Are you ready? <span class="fg-pink">Improvamonium 2015</span> is right around the corner!</h1>
			</div>

			<div class="row row-offset-sm">
				<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<p class="center md-txt">The dates are <span class="fg-pink">April 3rd and 4th</span> (Friday and Saturday), and we can't wait to see you all there!</p>
				</div>
			</div>


			<div class="row row-offset-lg">
				<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
					<p class="lg-txt">Latest News</p>
					<hr />
				</div>
			</div>
			<div class="row row-offset-sm">
				<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <p class="md-txt">The official Improvamonium 2015 <span class="fg-pink">schedule</span> is here! Check out who's going to be performing in the festival, and see what they have to bring to the stage!</p>
                    <br/><br/>
                    <table class="table table-striped" id="schedule">
                        <tr>
                            <th></th>
                            <th>Friday, April 3rd</th>
                            <th>Saturday, April 4th</th>
                        </tr>
                        <tr>
                            <td>6:00 PM</td>
                            <td>Fowl Play</td>
                            <td>Alfred State Jesters</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>One Mic Stand</td>
                            <td>Loustin</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Work in Progress</td>
                            <td>Left For Dead</td>
                        </tr>
                        <tr class="danger">
                            <td>7:30 PM</td>
                            <td colspan=2 style="font-weight: bold;">INTERMISSION</td>
                        </tr>
                        
                        <tr>
                            <td>7:45 PM</td>
                            <td>Script Tease</td>
                            <td>Flower City Improv</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Oswego</td>
                            <td>Random Acts</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Improvessionals</td>
                            <td>Amateur Sqwad</td>
                        </tr>
                        <tr class="danger">
                            <td>9:15 PM</td>
                            <td colspan=2 style="font-weight: bold;">INTERMISSION</td>
                        </tr>
                        
                        <tr>
                            <td>9:30 PM</td>
                            <td>Pork Pie Hat</td>
                            <td>Two Fat Ladies</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>UB Improv</td>
                            <td>Broken Couch</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>BrainWreck</td>
                            <td>Tarello & Thompson</td>
                        </tr>
                    </table>
				</div>
			</div>


			<div class="row row-offset-lg">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="md-txt center">Are you a team interested in registering for the festival?</p>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="md-txt center">Do you want to buy an Improvamonium 2015 t-shirt?</p>
				</div>
			</div>

			<div class="row row-offset-xs">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="center row-offset-xs">
						<button class="md-btn btn-inactive">Too late!</button>
					</div>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="center row-offset-xs">
						<button class="md-btn btn-inactive">Next year!</button>
					</div>
				</div>
			</div>

			<div class="row row-offset-lg">
				<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
					<a href="http://fb.com/ritimprov"><div class="fb-icon" style="diplay: inline-block;"></div></a>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<a href="http://fb.com/ritimprov"><p class="md-txt">fb.com/ritimprov</p></a>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					<a href="http://twitter.com/ritimprov"><div class="twt-icon" style="diplay: inline-block;"></div></a>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<a href="http://twitter.com/ritimprov"><p class="md-txt">twitter.com/ritimprov</p></a>
				</div>
			</div>
		</div>	

		<br /><br /><br /><br />
	</div>
</body>

</html>