<view-title>Events</view-title>
<link view-head rel="shortcut icon" ng-href="{{eventsCtrl.icon}}" />

<div>
    <div class="header">
        <img class="picLogo" ng-if="eventsCtrl.img != ''" ng-src="{{eventsCtrl.img}}"/>
        <ul class="nav">
            <li ng-class="{current: eventsCtrl.img != '' && nav.name == 'events', home: nav.name == 'home', bios: nav.name == 'bios', workshops: nav.name == 'workshops', events: nav.name == 'events', improv: nav.name == 'improvamonium', about: nav.name == 'about'}" ng-repeat="nav in appCtrl.nav">
                <a ng-href="{{nav.link}}">{{nav.name}}</a>
            </li>
        </ul>
    </div>

    <div class="eventBox" ng-repeat="event in eventsCtrl.events">
        <div class="row row-offset-xs">
            <h2 class="eventHeader">{{event.name}}</h2>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 hidden-sm hidden-md hidden-lg hidden-xl">
                <img style="width: 100%;" ng-src="{{event.img}}">
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-7 col-lg-7 col-xl-7">

                <h4 class="eventDate">{{event.date}} at {{event.time}} in {{event.loc}}</h4>
                <p>{{event.desc}}</p>
                <br />
                <button class="btn btn-info">More...</button>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <img style="width: 100%;" ng-src="{{event.img}}">
            </div>
        </div>
    </div>

</div>
