<view-title>Workshops - </view-title>
<link view-head rel="shortcut icon" ng-href="{{workshopCtrl.icon}}" />

<div>
    <menu-bar page="workshops"></menu-bar>

    <div class="workshopBox">
        <div class="workshopSection">
            <h2 class="workshopHeader">RIT Improv Workshops</h2>
            <p>RIT Improv hosts free, twice-weekly Improv Workshops for the RIT community. Come learn the basics of improv, and work your way up to pro-level in just a few weeks! We cover everything from short-form to long-form styles, helping you to improve your acceptance, spontaneity, and teamwork skills.</p>
            <p>Don't think you're funny? Don't worry about it! You don't have to be "funny" to do and enjoy enjoy improv. In fact, many people have little theatrical or comedic experience before coming to RIT Improv, so you won't be alone! They're also free!</p>
            <p>Come on by, let loose, and have some fun. We are a no-obligations and fun-all-the-time kind of club, and you have nothing to lose!</p>
            <p>Workshops Times:</p>
            <ul>
                <li>Mondays:</li>
                <ul>
                    <li>8-10PM in the Bamboo Room</li>
                </ul>
                <li>Thursdays:</li>
                <ul>
                    <li>8-10PM in the SAU, rooms 1010 and 1015</li>
                </ul>
            </ul>
        </div>
    </div>
</div>