<view-title>Bios - </view-title>
<link view-head rel="shortcut icon" ng-href="{{biosCtrl.icon}}" />

<div>
    <menu-bar page="bios"></menu-bar>

    <carousel class="biosCarousel slide carousel-fade">
        <slide ng-repeat="troupe in biosCtrl.troupes">
            <div ng-class="{bwSlide: troupe == 'BrainWreck Improv', impSlide: troupe == 'The Improvessionals', wipSlide: troupe == 'Work.In.Progess', alSlide: troupe == 'Alumnus'}">
                <h1>{{troupe}}</h1>
            </div>

            <div ng-if="troupe == 'BrainWreck Improv'">
                <brain-wreck></brain-wreck>
            </div>

            <div ng-if="troupe == 'The Improvessionals'">
                <improvessionals></improvessionals>
            </div>
        </slide>
    </carousel>
</div>