@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);

a {text-decoration: none; color: inherit;}
a:visited {text-decoration: none; color: inherit;}

html{width: 100%;}
body {margin: 0; padding: 0; background-color: #ebecee; width: 100%;}
.mainContainer{margin: auto; background-color: #FFFFFF; width: 100%; min-width: 1200px; max-width: 1800px;}
.nav {}
.nav li{float: left; list-style: none; margin-right: 1em; font-family: 'Kreon', serif;
color: #ebecee; font-size: 150%;
}
.header {/*border-bottom: 10px solid #ebecee;*/ background-color: #232323; padding: 1.5% 3.5% 3.5% 3.5%;}
.watch{font-style: italic;}

.footer{ clear: both; width: 1200px; margin: auto; padding: 1% 0 1% 0;}
span {margin: 0; padding: 0;}
.contentContainer {width: 95%; margin: auto; padding: 1%;overflow: hidden; position: relative;}
.picLogo{width: 25%; height: 25%; float: left; margin-left: -1.5%; margin-top:-1.8%; margin-right: 3.5%;}
.watch { }
