li.current {color: #6ebc42; font-weight: bold;}
.colored {color: #6ebc42;}
.aboutWorkshop{ border: 2px solid #6ebc42; width: 65%; float: left; margin-left: 3.5%;}
.workshopPics {border: 2px solid #6ebc42; margin: auto; margin-left: 2%; float: left; width: 25%;}
.workshopHead {border-bottom: 2px solid #6ebc42; font-family: 'Kreon', serif; 
font-size: 140%; color: #6ebc42; padding: 2% 2% 1% 2%; margin-left: 2%; margin-right: 2%; font-style:italic; 
}
.workshopInfo{position: relative; clear: both; color: #787878; font-family: 'Kreon', serif; width: 90%; margin:auto;
padding: 2%;}
.workshopPics img { clear: both; width: 90%; height: 90%; margin-left: 5%; margin-top: 4%; padding-top: 2%; padding-bottom: 2%; }