<view-title>Home - </view-title>
<link view-head rel="shortcut icon" ng-href="{{homeCtrl.icon}}"/>

<div ng-controller="calendarController as calCtrl">

    <menu-bar page="home"></menu-bar>

    <carousel class="homeCarousel slide carousel-fade">
        <slide ng-repeat="slide in homeCtrl.slides | limitTo: 5" ng-if="slide.type == 'mainstage'">
            <img class="slidePic center-block" ng-src="{{slide.img}}">
            <h2>{{slide.name}}</h2>
            <h4>{{slide.date}} at {{slide.time}} in {{slide.loc}}</h4>
        </slide>
    </carousel>


    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
</div>